# <strong>5: ELAN Annotation Notebook |</strong>

### <strong>Requirements</strong>

To run this notebook, you will need the following Python packages:

- pandas

In [4]:
import os
import pandas as pd

In [5]:
input_directory = '../Gestures/'  # Replace with your directory path
output_directory = '../Annotations/'  # Replace with your desired output directory

### <strong>Export Apex Annotations</strong>

In [7]:
# Iterate through all CSV files in the directory
for filename in os.listdir(input_directory):
    if filename.endswith('.csv'):
        # Read the CSV file
        file_path = os.path.join(input_directory, filename)
        apex_df = pd.read_csv(file_path)

        apex_df['change_points'] = apex_df['min'].shift(1) != apex_df['min']
        apex_df['time_ms'] = apex_df['time_ms'] / 1000
        grouped_apex_df = apex_df.groupby((apex_df['change_points']).cumsum())
        apex_df = pd.DataFrame({
            'Begin Time': grouped_apex_df['time_ms'].first(),
            'End Time': grouped_apex_df['time_ms'].last(),
            'min': grouped_apex_df['min'].first(),
        })
        apex_df = apex_df.dropna(subset=['min'])
        apex_df = apex_df[apex_df['min'] != 0]
        apex_df['End Time'] = apex_df['End Time'] + 0.033

        # Save the modified DataFrame
        output_file_path = os.path.join(output_directory, filename.split('.')[0] + '_elan_apexes.csv')
        apex_df.to_csv(output_file_path, index=False)

In [8]:
apex_df.head(20)

               Begin Time   End Time  min
change_points
2                4.623358   4.656358    1
4                8.163358   8.196358    1
6               11.453358  11.486358    1
8               14.353358  14.386358    1
10              17.483358  17.516358    1
12              20.673358  20.706358    1
14              23.853358  23.886358    1
16              26.803358  26.836358    1
18              31.723358  31.756358    1
20              34.673358  34.706358    1
22              38.083358  38.116358    1
24              42.513358  42.546358    1
26              45.363358  45.396358    1
28              48.343358  48.376358    1
30              50.933358  50.966358    1
32              54.083358  54.116358    1
34              57.633358  57.666358    1
36              60.423358  60.456358    1
38              63.303358  63.336358    1
40              66.153358  66.186358    1