# <strong>5: ELAN Annotation Notebook |</strong>

### <strong>Requirements</strong>

To run this notebook, you will need the following Python packages:

- pandas

In [1]:
import os
import pandas as pd

In [2]:
input_directory = '../Gestures/'  # Replace with your directory path
output_directory = '../Annotations/'  # Replace with your desired output directory
tier = 'gesture_id'  # Replace with your desired tier name

### <strong>Export Apex Annotations</strong>

In [3]:
# Iterate through all CSV files in the directory
for filename in os.listdir(input_directory):
    if filename.endswith('.csv'):
        # Read the CSV file
        file_path = os.path.join(input_directory, filename)
        gest_df = pd.read_csv(file_path)

        gest_df['change_points'] = gest_df[tier].shift(1) != gest_df[tier]
        gest_df['time_ms'] = gest_df['time_ms'] / 1000
        grouped_gest_df = gest_df.groupby((gest_df['change_points']).cumsum())
        gest_df = pd.DataFrame({
            'Begin Time': grouped_gest_df['time_ms'].first(),
            'End Time': grouped_gest_df['time_ms'].last(),
            tier: grouped_gest_df[tier].first(),
        })
        gest_df = gest_df.dropna(subset=[tier])
        gest_df = gest_df[gest_df[tier] != 0]
        gest_df['End Time'] = gest_df['End Time'] + 0.033

        # Save the modified DataFrame
        output_file_path = os.path.join(output_directory, filename.split('.')[0] + f'_elan_{tier}.csv')
        gest_df.to_csv(output_file_path, index=False)

In [4]:
gest_df.head(20)

               Begin Time  End Time  gesture_id
change_points
375                 3.773     6.186         1.0
541                 7.813     8.556         2.0
751                10.623    12.556         3.0
861                13.623    15.386         5.0
1004               16.783    18.556         6.0
1158               20.063    21.856         7.0
1299               23.233    24.716         8.0
1435               26.043    27.806         9.0
1763               31.053    32.556        10.0
1913               34.023    35.656        11.0
2090               37.393    38.956        12.0
2364               41.663    43.486        13.0
2487               44.683    46.346        14.0
2620               47.643    49.216        15.0
2726               50.243    51.726        16.0
2886               53.293    54.976        17.0
3069               56.773    58.676        18.0
3169               59.643    61.516        19.0
3270               62.493    64.326        20.0
3376               65.353    67.106        21.0